<div fxLayout="column">
    <div class="mt-10">
        <p class="text-black-900 font-bold">#list items</p>
        <p class="text-green-400 italic "> -->Simple lists</p>
        <mat-list>
            <mat-list-item>item 1</mat-list-item>
            <mat-list-item>item 2</mat-list-item>
            <mat-list-item>item 3</mat-list-item>
            <mat-list-item>item 4</mat-list-item>
            <mat-list-item>item 5</mat-list-item>
        </mat-list>
    </div>
    <div class="mt-10">
        <p class="text-black-900 font-bold">#list items</p>
        <p class="text-green-400 italic "> -->Simple lists</p>
        <mat-list>
            <mat-list-item>
                <mat-icon matListIcon>home</mat-icon>
                <h3 matLine>Heading...</h3>
                <p matLine>Line</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListIcon>folder</mat-icon>
                <h3 matLine>Heading 2...</h3>
                <p matLine>Line 2</p>
            </mat-list-item>
        </mat-list>
    </div>





</div>