<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <div fxlayout="column" class="w-full"> 
    <mat-list class="cursor-pointer"  color="primary">
      <mat-list-item  routerLink="dashboard">Dashboard</mat-list-item>
      <mat-list-item routerLink="mat-list">mat-list</mat-list-item>
      <mat-list-item routerLink="mat-grid">mat-grid</mat-list-item>
      <mat-list-item routerLink="mat-expansion">mat-expansion</mat-list-item>
      <mat-list-item  routerLink="mat-autocomplete">Autocomplete</mat-list-item>
      <mat-list-item  routerLink="mat-checkbox">mat-checkbox</mat-list-item>
      <mat-list-item  routerLink="myDatePicker">myDatePicker</mat-list-item>
      <mat-list-item  routerLink="tooltip">tooltip</mat-list-item>
      <mat-list-item  routerLink="snackbar">snackbar</mat-list-item>
      <mat-list-item  routerLink="tables">tables</mat-list-item>
      <mat-list-item  routerLink="forms">forms</mat-list-item>








    </mat-list>
      </div>
  
    </mat-drawer>
    <mat-toolbar>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" (click)="drawer.toggle()"></mat-icon>

        <!-- <span  >My Application</span> -->
      </mat-toolbar>
    <div >
     <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>