<!-- <mat-form-field>
    <input matInput  [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle  [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field> -->

<!-- <h1>mult-year selection</h1>
 -->
 

<!-- <mat-form-field>
    <input matInput  [matDatepicker]="myDatePicker"  [matDatepickerFilter]="dateFilter"> 
    <mat-datepicker-toggle  [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker  ></mat-datepicker>
</mat-form-field> -->

<h1>multiple years selection</h1>

<mat-form-field>
    <input matInput  [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle  [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker startView="multi-year" ></mat-datepicker>
</mat-form-field>